<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Regression" verbose="1">
    <parameter name="env" value="https://www.citrus.ua/"/>
    <test name="Citrus">
        <classes>
            <class name="citrus_ui.BasketTests"/>
             <class name="citrus_ui.CompareProductsTests"/>
             <class name="citrus_ui.FilterTests"/>
        </classes>
    </test>
    <parameter name="env" value="http://dummy.restapiexample.com"/>
    <test name="API">
        <classes>
            <class name="dummy_rest_api.ApiTests"/>
        </classes>
    </test>
</suite>

